# Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# JetBrains IDE
.idea/

# macOS
.DS_Store

# Logs and databases
*.log
*.sqlite

# Unit test / coverage reports
.coverage
.tox/
